#header {
    width:100%;
    display: flex;
    background-color: #0A91AB;
    margin:0%;
    padding-bottom:1%;
}
.titulo_juego{
    color: #FFC045;
}
h2{
    color: #0A91AB;
}
#logotype{
    display: block;
    padding-bottom: 1%;
    margin-top: 0%;
    margin:auto;
}
#logo{
    display: block;
    padding-bottom: 1%;
    margin-top: 0%;
    margin:auto;
}
#menu{
    display: flex;
    justify-content: center;
    background-color: #FFC045;
    transition: all 0.5s ease-in-out;
    position: sticky;
    top:0;
    height:7.0%;
    width:100%;

}
#menu:hover {
    transform: scale(1.1);
}
#linea{
    background-color: black;
    height: 2px;
    width: 100%;
    margin: 0%;
}    
.text_menu{
    position:sticky;
    display: flex;
    flex-direction: row;
    padding-left: 0.75%;
    padding-right: 0.75%;
    cursor: pointer;
}
.text_menu h5:hover{
    color:red;
}
body{
    margin: 0%;
}
#imagen{
    margin-left: auto;
    margin-right: auto;
}
.imagenes{
    width: 500px;
    height: 250px;
}
.juegos{
    border: 2px;
    border-style:groove;
    border-radius: 5px;
    border-color: #FFC045;
    justify-content:center;
    color: black;
    display: inline-block;            
    box-shadow: 10px 10px 5px grey;
    margin: 40px;
    width: 500px;
}
.info{
    border: 2px;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    background-color: #FFC045;
    border-style:groove;
    border-radius: 5px;
    border-color: #FFC045;
    justify-content:flex-end;
    color: black;
    display: inline-block;            
    cursor: pointer;
    text-align: center;
    margin: 5px;
    height: 20px;
    }
#trucos{
    
    border: 2px;
    text-align: center;
    border-style:groove;
    border-radius: 5px;
    background-color:lightcyan;
    border-color: black;
    justify-content:center;
    color: black;
    text-decoration: none;
    display: inline-block;            
    margin: 40px;
    width: 300px; 
    height: 1000px;
}
.titulin{
    color: #FFC045;
}
#titulo{
    display: flex;
    justify-content:center;
    width: auto;
}
.newsTitleContainer {
    width:100%;
}

.newsContainer {
    margin-left:2%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.newsTitleContainer h2 {
    color: #0A91AB;
    font-weight: bold;
    text-align: center;
}

.news {
    border-style:groove;
    border-radius: 8.0px;
    border-color:#0A91AB;
    border-width: 3;
    width: 570px;
    height: 480px;
    margin-left:0%;
    margin-right:0%;
    margin-bottom: 5%;
}

#fecha {
    text-align: left;
    font-weight: bold;
    margin:0.5%;
}

#orangeLine {
    border:none;
    background-color: #FFC045;
    height: 5px;
    width:95%;
}

#newsTitle {
    color: #FFC045;
    text-align: center;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

#textoNews {
    font-weight: bold;
    text-align: left;
    margin:1%;
    margin-bottom:3%;
}

.imagePlusButton {
    margin:0%;
    padding:0%;
}

#fotosNews {
    position:absolute;
    margin:0%;
    width:570px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leerMas {
    position:relative;
    text-align: center;
    background-color: #FFC045;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    padding:1.0%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    margin-top: 2.5%;
    margin-bottom: 2,5%;
    margin-left: 85%;
    margin-right: 2.5%;


    cursor:pointer;
}
.asidePlusNewsContainer {
    margin-left:0.25%;
    margin-right:0.25%;
}
.leerMas:hover {
    background-color: #8A8070;
    border-color: black;
    color: #FFC045;
    border-width: 1px;
    font-weight: bold;
}
.trucosContainer {
    float:left;
    display:block;
    background-color: #e4f6f9;
    border-style: dotted;
    border-radius: 15px;
    border-width: 5px;
    width: 430px;
    height: 1080px;
    margin:0%;
    margin-left:1.5%;
    font-weight: bold;
    text-align: center;
}
footer{
    background-color: brown;
    width: 100%;
}
