


#imagen{
    margin-left: auto;
    margin-right: auto;
}

#trucos{
    
    border: 2px;
    text-align: center;
    border-style:groove;
    border-radius: 5px;
    background-color:lightcyan;
    border-color: black;
    justify-content:center;
    color: black;
    text-decoration: none;
    display: inline-block;            
    margin: 40px;
    width: 300px; 
    height: 1000px;
}
.titulin{
    color: #FFC045;
}
#titulo{
    display: flex;
    justify-content:center;
    width: auto;
}
.newsTitleContainer {
    width:100%;
}

.newsContainer {
    margin-left:2%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.newsTitleContainer h2 {
    color: #0A91AB;
    font-weight: bold;
    text-align: center;
}

.news {
    border-style:groove;
    border-radius: 8.0px;
    border-color:#0A91AB;
    border-width: 3;
    width: 570px;
    height: 480px;
    margin-left:0%;
    margin-right:0%;
    margin-bottom: 5%;
}

#fecha {
    text-align: left;
    font-weight: bold;
    margin:0.5%;
}

#orangeLine {
    border:none;
    background-color: #FFC045;
    height: 5px;
    width:95%;
}

#newsTitle {
    color: #FFC045;
    text-align: center;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

#textoNews {
    font-weight: bold;
    text-align: left;
    margin:1%;
    margin-bottom:3%;
}

.imagePlusButton {
    margin:0%;
    padding:0%;
}

#fotosNews {
    position:absolute;
    margin:0%;
    width:570px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leerMas {
    position:relative;
    text-align: center;
    background-color: #FFC045;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    padding:1.0%;
    padding-top:1.5%;
    padding-bottom:1.5%;
    margin-top: 2.5%;
    margin-bottom: 2,5%;
    margin-left: 85%;
    margin-right: 2.5%;


    cursor:pointer;
}
.asidePlusNewsContainer {
    margin-left:0.25%;
    margin-right:0.25%;
}
.leerMas:hover {
    background-color: #8A8070;
    border-color: black;
    color: #FFC045;
    border-width: 1px;
    font-weight: bold;
}
.trucosContainer {
    float:left;
    display:block;
    background-color: #e4f6f9;
    border-style: dotted;
    border-radius: 15px;
    border-width: 5px;
    width: 430px;
    height: 1080px;
    margin:0%;
    margin-left:1.5%;
    font-weight: bold;
    text-align: center;
}
footer{
    display: block;
    flex-direction: row;
    background-color: brown;
    width: 100%;
}
